<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->
<configuration>
  <configSections />
  <connectionStrings>
    <add name="Cloud" connectionString="Data Source=127.0.0.1,1401;Initial Catalog=Wensy;Persist Security Info=True;User ID=wensy;Password=Passw0rd!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultCryptoKey" value="128" />
    <add key="DefaultCryptoCheck" value="SHA512" />
    <add key="DefaultCryptoType" value="AES" />
    <add key="CorpWeb" value="" />
    <add key="SSLWeb" value="" />
    <add key="ChartDataDuration" value="15" />
    <add key="AlertDataDuration" value="5" />
    <!--<add key="DeployMode" value="DEMO"/>-->
    <add key="DeployMode" value="LIVE" />
    <add key="EnterPrise" value="false" />
    <add key="PageRefreshTime" value="15000" />
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <pages buffer="true" enableSessionState="true" enableViewState="true" enableViewStateMac="false" smartNavigation="false" autoEventWireup="false" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="Menu" src="~/Common/UC/TopMenu.ascx" tagName="Top" />
        <add tagPrefix="Menu" src="~/Common/UC/AdminLeft.ascx" tagName="AdminLeft" />
        <add tagPrefix="Alert" src="~/Common/UC/AlertSlide.ascx" tagName="AlertSlide" />
        <add tagPrefix="Alert" src="~/Common/UC/AlertList.ascx" tagName="AlertList" />
        <add tagPrefix="Modal" src="~/Common/UC/Modal/Groupmember.ascx" tagName="Groupmember" />
        <add tagPrefix="Modal" src="~/Common/UC/Modal/ServerAdd.ascx" tagName="ServerAdd" />
        <add tagPrefix="Modal" src="~/Common/UC/Modal/RuleEditor.ascx" tagName="ServerRule" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>